#project-title {
    padding-bottom: 60px;
    margin: 150px auto 60px auto;
}

#project-title p {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 300;
}

#project-title h2 {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    font-weight: 800;
    text-align: justify;
    text-align-last: justify;
    text-justify: inter-word;
}

/* TODO：右margin问题 */
#project-container {
    margin-bottom: 150px;
    margin-left: 22px;
}

.schedule-card {
    display: flex;
    justify-content: left;
    margin: 0 auto 20px;
    padding: 20px 30px 20px;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
}

.schedule-card.schedule-card-add {
    background: none;
    box-shadow: none;
}

.schedule-card:hover {
    transform: scale(1.03);
}

.project-info {
    padding-left: 6px;
}

.bi-github-info {
    font-size: 18px;
}

.project-name {
    text-align: left;
    font-size: 22px !important;
    font-weight: 600;
    margin-bottom: 9px;
    color: #2f3138;
    transition: color 0.3s ease-in-out;
}

.project-repo {
    padding-left: 12px;
    margin-top: 10px;
}

.project-repo img {
    height: 20px;
    width: auto;
    padding: 0 6px 0 0;
    margin-bottom: 5px;
}

.project-description {
    text-align: left;
    font-size: 14px !important;
    color: #2f3138;
    transition: color 0.3s ease-in-out;
}

.project-name:hover, .project-description:hover {
    color: #4869df;
}

/* TODO：瀑布流代码优化 */
.waterfall-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
}

.waterfall-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
    flex: 1;
}

.waterfall-column {
    margin: 0 10px;
}

/*.waterfall-container {*/
/*    column-count: 2;*/
/*}*/

/*.waterfall-item {*/
/*    break-inside: avoid;*/
/*}*/
